<div class="firstQuest">
    <div class="contentQuest">
        <h1>FINANCIAL PLANNING
            QUESTIONNAIRE</h1>
        <p> In order to be able to provide you with financial planning advice that is in your best interests,
            we must do our utmost to ensure we are aware of your personal and financial circumstances so
            that our advice is the most suitable for your needs.
            The questions here have been designed specifically to help us provide advice that meets your
            needs. If, for any reason, you decline to answer any of the questions or if you fail to provide
            true and accurate information to the best of your knowledge, the advice given may not be the
            most suitable for your needs, as it can only be based on the information provided.
            The information given in this document will be retained for reference purposes, and will be held
            in strict confidence in accordance with the Data Protection Act 1998. Some details may be
            passed to providers for the purposes of providing you with relevant illustrations and
            applications, and to regulatory authorities and auditors for compliance purposes.</p>
        <div class="questNext">
            <md-button class="md-raised md-primary">
                Next
            </md-button>
        </div>
    </div>
</div>

