<div class="enter-form">
    <md-content>
        <div layout="row" layout-align="center center" class="login-form">
            <div class="md-whiteframe-8dp main-div" flex="40" flex-xs="90" flex-sm="60">
                <div class="top-logo" layout="" layout-align="center">
                    <img src="content/img/knight_hayes_logo.fw.png" alt="Logo">
                </div>
                <div class="div-input">
                    <form novalidate name="vm.resetForm" ng-submit="vm.forgot()">
                        <md-input-container>
                            <label>Enter your email</label>
                            <input ng-model="vm.data.email" type="email" name="email" required
                                   ng-pattern="/^([a-zA-Z0-9_\.-]+)@([a-zA-Z0-9_\.-]+)\.([a-zA-Z\.]{2,6})$/">
                            <div ng-messages="vm.resetForm.email.$error">
                                <div ng-message="required">This is required.</div>
                                <div ng-message="pattern">Must look like an e-mail address.</div>
                            </div>
                        </md-input-container>
                        <div class="div-btn" >
                            <md-button type="submit">
                                Send
                            </md-button>
                        </div>
                    </form>
                </div>

                <div class="log-bot" layout="row" layout-align="center">
                    <p>Already have an account?</p>
                    <p ui-sref="login">Log in</p></div>
            </div>

        </div>
    </md-content>

</div>