.add-client {

  md-input-container {
    margin: 10px 0 0 0;
  }

  .content-add {
    padding: 30px;
  }

  .all-input {
    padding: 30px 30px 0 30px;
  }

  .company-input{
    margin-top: 25px;
  }

  .box{
    margin-top: 20px;
  }

  .survey-list{
    //overflow: auto;
    //height: 200xp;
  }

  .single-survey{
    min-height: 50px;
    margin: 0 0;
  }

  .box-survey{
    margin-bottom: 0 !important;
  }
  .hidden-box {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .hidden-box1{
    padding-right: 5px;
  }


  .select-template, .no-templates{
    width: 180px;
  }

  .no-templates-top{
    font-size: 12px;
    margin: 5px 5px 5px 0;
    color: rgba(0,0,0,0.54);
  }

  .no-templates-bottom{
    margin-bottom: 3px
  }

  .no-surveys{
    color: rgba(0,0,0,0.54);
  }

  .select-company{
    color: red;
  }

  .client-btn{
    padding: 20px 30px 30px 30px;
  }

  .client-btn button{
    padding: 0;
    margin: 0;
  }

  @media (max-width: 550px) {

    .select-template, .no-templates{
      width: 100%;
      margin-bottom: 30px;
    }

    .single-survey {
      flex-direction: column;
      align-items: start;
    }

    .repeat-list{
      padding-top: 35px;
    }

  }

  @media (max-width: 410px) {
    .hidden-box1{
      width: 180px;
    }

    .bot-btn button:last-child {
      margin-left: 5px;
    }
  }




}

//.annonce {
//
//  min-width: 320px;
//  max-width: 320px;
//
//  .ann-head {
//    background: #3f51b5;
//  }
//
//  .ann-head p {
//    font-size: 25px;
//    text-align: center;
//    color: white;
//    padding: 10px;
//  }
//
//  .botBtn button:first-child {
//    margin-right: 10px;
//  }
//
//  .ann-cont {
//    padding: 20px;
//  }
//
//  .ann-bot-btn {
//    width: 100%;
//    padding-top: 10px;
//  }
//
//  button {
//    text-transform: capitalize;
//    box-shadow: none !important;
//    line-height: 0;
//    min-width: 98px;
//    min-height: 32px;
//    margin: 0;
//  }
//}