<md-dialog flex="30" class="annonce">
    <div class="annonce-window">
        <div class="ann-head">
            <p> New client created</p>
        </div>
        <div class="ann-cont"><p>Answering the questionnaire should inform the user what pension they should be
            choosing </p>
            <div class="ann-bot-btn" layout="" layout-align="center">
                <md-button class="md-raised md-primary" ng-click="vm.confirm()">
                    Get started
                </md-button>
            </div>
        </div>
    </div>
</md-dialog>
