<div class="menus" layout="row" layout-align="center">

    <div class="tab-list">
        <div ng-repeat="survey in vm.survey" ng-if="(survey.survey_status !== 'archived')"
             class="questionnaire-list pointer"
             md-whiteframe="{{height}}"
             ng-click="vm.setActiveSurvey(survey.survey_id, $index)" ui-sref="tab.survey-block">
            <md-menu>

                <md-button class="md-icon-button" ng-click="$mdMenu.open($event)">
                    <i class="material-icons">more_vert</i>
                </md-button>

                <md-menu-content>
                    <md-menu-item >
                        <md-button ng-click="vm.archiveSurvey(survey.survey_id, 'added to the archive' , survey , archiveItem)">Archive
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="vm.createSurvey(survey.survey_id ,survey)">Edit</md-button>
                    </md-menu-item>
                </md-menu-content>

            </md-menu>
            <div class="text-quest">
                <p class="hidden-text">{{survey.survey_name}}</p>
            </div>
        </div>

        <div ng-click="vm.createSurvey()" class="questionnaire-list"
             md-whiteframe="{{height}}">
            <p class="plus-ico"><i class="material-icons">control_point</i></p>
            <p>New Questionnaire</p>
        </div>
    </div>

    <div layout="column" class="side-button">
        <md-button ng-click="vm.toggleOpenArchive()" ng-hide="vm.isOpenRight()" class="arch-btn">
            <i class="material-icons">library_books</i>
            <p>Archive</p>
        </md-button>

        <md-sidenav  class="md-sidenav-right md-whiteframe-z2" md-component-id="right">

            <div layout="row" layout-align="space-between center" class="md-theme-light">
                <p class="md-toolbar-tools1">Archive list</p>
                <i class="material-icons pointer" ng-click="vm.closeArchiveButton()">highlight_off</i>
            </div>

            <md-content layout-padding="">
                <div ng-repeat="archiveItem in vm.survey" ng-if="(archiveItem.survey_status === 'archived')">
                    <div flex="100" layout="row" layout-align="center center">
                        <div class="sm-left" flex="70" layout-wrap="no-wrap">
                            <p class="hidden-text">
                                {{archiveItem.survey_name}}</p>
                        </div>
                        <div class="sm-right" flex="30" layout="row" layout-align="center">
                            <div>
                                <md-tooltip md-direction="left">Unarchive</md-tooltip>
                                <i class="material-icons"
                                   ng-click="vm.archiveSurvey(archiveItem.survey_id, 'extracted from archive' , survey , archiveItem)"
                                   >unarchive</i>
                            </div>
                          <div>
                              <md-tooltip md-direction="left">Remove</md-tooltip>
                              <i class="material-icons test" ng-click="vm.deleteSurvey(archiveItem.survey_id , $index)"
                                 >delete_forever</i>
                          </div>

                        </div>
                    </div>

                </div>

                <div ng-if="vm.ArchiveIsEmpty">
                    <p class="empty-block">Empty archive</p>
                </div>

            </md-content>

        </md-sidenav>
    </div>

</div>