<div class="enter-form">
    <md-content>
        <div layout="row" layout-align="center center" class="login-form">
            <div class="md-whiteframe-8dp main-div" flex="40" flex-xs="90" flex-sm="60">
                <div class="top-logo" layout="" layout-align="center">
                    <img src="content/img/knight_hayes_logo.fw.png" alt="Logo">
                </div>
                <div class="div-input">
                    <form name="vm.resetForm" novalidate ng-submit="vm.reset()">
                        <md-input-container>
                            <label>Password</label>
                            <input ng-model="vm.data.password" type="password" name="password" required
                                   minLength="6"
                                   maxlength="32">
                            <div ng-messages="vm.resetForm.password.$error">
                                <div ng-message="required">This is required.</div>
                                <div ng-message="maxlength">Password max length 32.</div>
                                <div ng-message="minlength">Password min length 6.</div>
                            </div>
                        </md-input-container>

                        <md-input-container>
                            <label>Confirm password</label>
                            <input ng-model="vm.data.password_confirmation" type="password" name="passCon"
                                   required
                                   minLength="6"
                                   maxlength="32"
                            >
                            <div ng-messages="vm.resetForm.passCon.$error">
                                <div ng-message="required">This is required.</div>
                                <div ng-message="maxlength">Password max length 32.</div>
                                <div ng-message="minlength">Password min length 6.</div>
                                <div class="conf-pass" ng-show="vm.data.password !== vm.data.password_confirmation">
                                    The password confirmation does not match.
                                </div>
                            </div>

                        </md-input-container>
                        <div class="div-btn">
                            <md-button type="submit">
                                Send
                            </md-button>
                        </div>
                    </form>
                </div>

                <div class="log-bot" layout="row" layout-align="center">
                    <p>Already have an account?</p>
                    <p ui-sref="login">Log in</p></div>
            </div>

        </div>
    </md-content>

</div>